.HomePage {
    background-image: url("./images/intro.jpeg");
    background-size: cover;
    height: 100vh;
}

.HomePage img {
    width: 150px;
}

.HomePage .container {
    height: 50vh;
    width: 40vw;
}

.HomePage h1 strong {
    background: white;
    color: black;
    mix-blend-mode: screen;
    padding-left: 0.2em;
    padding-right: 0.7em;
}

.HomePage div.readyTo {
    color: white;
    letter-spacing: 4px;
    word-spacing: 10px;
    margin-bottom: 16px;
}

.JoinRoom {
    padding-top: 16vh;
}

.InstructionPage,
.WaitRoom {
    padding-top: 10vh;
    padding-bottom: 16vh
}

.WaitRoom .card {
    border-radius: 0.5em;
}

.InstructionPage h1,
.JoinRoom h1 {
    font-size: 3em;
    padding-bottom: 0.5em;
}

.HomePage h1 {
    font-size: 5.6em;
    color: black;
    padding-bottom: 0.3em;
}

.HomePage img {
    padding-top: 2em;
    padding-bottom: 3em;
    margin-left: 2em;
}

.InstructionPage h2,
.JoinRoom h2 {
    padding-top: 1.5em;
    font-size: 1.5em;
}

.JoinRoom input {
    border-radius: 0.75em;
    height: 40px;
    width: 500px;
    padding: 2px 16px;
}

.HomePage button,
.InstructionPage button,
.JoinRoom button,
.WaitRoom button {
    border-radius: 0.75em;
    padding: 10px 30px;
}

.JoinRoom button,
.WaitRoom button {
    padding: 10px 60px;
}