.JoinRoom {
    padding-top: 16vh;
}

.HomePage,
.InstructionPage,
.WaitRoom,
.WelcomePage {
    padding-top: 10vh;
}

.WaitRoom .card {
    border-radius: 0.5em;
}

.HomePage h1,
.InstructionPage h1,
.JoinRoom h1,
.WelcomePage h1 {
    font-size: 3em;
    padding-bottom: 0.5em;
}

.InstructionPage h2,
.JoinRoom h2,
.WelcomePage h2 {
    padding-top: 1.5em;
    font-size: 1.5em;
}

.JoinRoom input {
    border-radius: 0.75em;
    height: 40px;
    width: 500px;
    padding: 2px 16px;
}

.HomePage button,
.InstructionPage button,
.JoinRoom button,
.WaitRoom button,
.WelcomePage button {
    border-radius: 0.75em;
    padding: 10px 30px;
}

.JoinRoom button,
.WaitRoom button {
    padding: 10px 60px;
}